@use "variables";

.playlist-card {
  display: inline-block;
}

.playlist-cover--overlay {
  background: linear-gradient(map-get(variables.$colors, dark-grey), map-get(variables.$colors, spotify-green));
  height: fit-content;
  width: fit-content;
  // margin: 0;
  opacity: 1;
  transition: 0.4s;
  position: relative;

  .playlist__desc {
    position: absolute;
    opacity: 0;
    transition: 0.4s;

    &:hover {
      opacity: 1;
    }
  }

  .playlist-cover {
    position: absolute;
    top: 0;
    opacity: 1;
    z-index: 1;
  }

  &:hover {
    opacity: 0.2;
    cursor: pointer;
  }
}
