@font-face {
  font-family: "Circular Spotify Text";
  src: url("/assets/fonts/Light/CircularSpotifyText-Light.woff2") format("woff2"),
    url("/assets/fonts/Light/CircularSpotifyText-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Text Book";
  src: url("/assets/fonts/Book/CircularSpotifyText-Book.woff2") format("woff2"),
    url("/assets/fonts/Book/CircularSpotifyText-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Text";
  src: url("/assets/fonts/Medium/CircularSpotifyText-Medium.woff2") format("woff2"),
    url("/assets/fonts/Medium/CircularSpotifyText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Text";
  src: url("/assets/fonts/Bold/CircularSpotifyText-Bold.woff2") format("woff2"),
    url("/assets/fonts/Bold/CircularSpotifyText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Spotify Text";
  src: url("/assets/fonts/Black/CircularSpotifyText-Black.woff2") format("woff2"),
    url("/assets/fonts/Black/CircularSpotifyText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

// primary font
$primary-font: "Circular Spotify Text";
// font-weight
$regular: normal;
$light: 300;
$medium: 500;
$bold: bold;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;
