/* You can add global styles to this file, and also import other style files */
@use "fonts";
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: map-get(variables.$colors, dark-grey);
  color: map-get(variables.$colors, white);
  font-family: fonts.$primary-font;
  font-weight: fonts.$regular;
  margin: 0;
  padding: 0;
}
